{% extends 'main1.html' %}
{% load static %}

{% block content  %}

<main id="main" class="main">
   <div class="pagetitle">
      <h1>Current Job Offers</h1>

   </div>

   <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Sales Card -->
          <div class="col-xxl-6 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Sr. Business Analyst</h5>
                <p>Intelligent Image Management</p>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cash"></i>
                    </div>
                    <div class="ps-3">
                      <p>Work From Office</p>
                      <p>Bsc in any reputed university</p>
                      <p>Location: <span>Mirpur</span></p>

                      <span class="text-success small pt-1 fw-bold"></span>
                    </div>
                  </div>
                  <div>
                    <p class="text-muted small pt-2 ps-1 mb-0">Deadline: May 15, 2023</p>
                    <button type="button" class="btn btn-primary mt-2">Apply</button>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Sales Card -->

                  <!-- Sales Card -->
                  <div class="col-xxl-6 col-md-6">
                    <div class="card info-card sales-card">
                      <div class="card-body">
                        <h5 class="card-title">Sr. Data Analysis</h5>
                        <p>Intelligent Image Management</p>
                        <div class="d-flex align-items-center justify-content-between">
                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-cash"></i>
                            </div>
                            <div class="ps-3">
                              <p>Work From Office</p>
                              <p>Bsc in any reputed university</p>
                              <p>Location: <span>Mirpur</span></p>
        
                              <span class="text-success small pt-1 fw-bold"></span>
                            </div>
                          </div>
                          <div>
                            <p class="text-muted small pt-2 ps-1 mb-0">Deadline: May 15, 2023</p>
                            <button type="button" class="btn btn-primary mt-2">Apply</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- End Sales Card -->
                
                  <!-- Sales Card -->
                  <div class="col-xxl-6 col-md-6">
                    <div class="card info-card sales-card">
                      <div class="card-body">
                        <h5 class="card-title">Sr. Production Manager</h5>
                        <p>Intelligent Image Management</p>
                        <div class="d-flex align-items-center justify-content-between">
                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-cash"></i>
                            </div>
                            <div class="ps-3">
                              <p>Work From Office</p>
                              <p>Bsc in any reputed university</p>
                              <p>Location: <span>Mirpur</span></p>
        
                              <span class="text-success small pt-1 fw-bold"></span>
                            </div>
                          </div>
                          <div>
                            <p class="text-muted small pt-2 ps-1 mb-0">Deadline: May 15, 2023</p>
                            <button type="button" class="btn btn-primary mt-2">Apply</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- End Sales Card -->
                  <!-- Sales Card -->
                  <div class="col-xxl-6 col-md-6">
                    <div class="card info-card sales-card">
                      <div class="card-body">
                        <h5 class="card-title">Software Engineer</h5>
                        <p>Intelligent Image Management</p>
                        <div class="d-flex align-items-center justify-content-between">
                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-cash"></i>
                            </div>
                            <div class="ps-3">
                              <p>Work From Office</p>
                              <p>Bsc in any reputed university</p>
                              <p>Location: <span>Mirpur</span></p>
        
                              <span class="text-success small pt-1 fw-bold"></span>
                            </div>
                          </div>
                          <div>
                            <p class="text-muted small pt-2 ps-1 mb-0">Deadline: May 15, 2023</p>
                            <button type="button" class="btn btn-primary mt-2">Apply</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- End Sales Card -->

                    <!-- Sales Card -->
                    <div class="col-xxl-6 col-md-6">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Jr. Data Entry Operator</h5>
                          <p>Intelligent Image Management</p>
                          <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-cash"></i>
                              </div>
                              <div class="ps-3">
                                <p>Work From Office</p>
                                <p>Bsc in any reputed university</p>
                                <p>Location: <span>Mirpur</span></p>
          
                                <span class="text-success small pt-1 fw-bold"></span>
                              </div>
                            </div>
                            <div>
                              <p class="text-muted small pt-2 ps-1 mb-0">Deadline: May 15, 2023</p>
                              <button type="button" class="btn btn-primary mt-2">Apply</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- End Sales Card -->
                    <!-- Sales Card -->
                    <div class="col-xxl-6 col-md-6">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Sr. Data Entry Operator</h5>
                          <p>Intelligent Image Management</p>
                          <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-cash"></i>
                              </div>
                              <div class="ps-3">
                                <p>Work From Office</p>
                                <p>Bsc in any reputed university</p>
                                <p>Location: <span>Mirpur</span></p>
          
                                <span class="text-success small pt-1 fw-bold"></span>
                              </div>
                            </div>
                            <div>
                              <p class="text-muted small pt-2 ps-1 mb-0">Deadline: May 15, 2023</p>
                              <button type="button" class="btn btn-primary mt-2">Apply</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- End Sales Card -->
        </div>
      </div>
    </div>
  </section>
  
  




  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
   <div class="copyright">
     &copy; Copyright <strong><span>Intelligent Management Limited</span></strong>. All Rights Reserved
   </div>
   <div class="credits">
     <!-- All the links in the footer should remain intact. -->
     <!-- You can delete the links only if you purchased the pro version. -->
     <!-- Licensing information: https://bootstrapmade.com/license/ -->
     <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
     Designed by <a href="https://bootstrapmade.com/">IIML System Team</a>
   </div>
 </footer>
 
 <!-- End Footer -->

   </section>   


   <style>

.sales-card {
  position: relative;
}

.sales-card .text-muted {
  position: absolute;
  bottom: 0;
  right: 0;
}


   </style>


            







{% endblock  %}